asgiref==3.5.2
autopep8==1.7.0
Django==4.1.2
django-adminlte3==0.1.6
django-filter==22.1
django-taggit==3.0.0
djangorestframework==3.14.0
Markdown==3.4.1
Pillow==9.2.0
pycodestyle==2.9.1
pytz==2022.4
sorl-thumbnail==12.9.0
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.4
